@layer components {
    .dr-input{
        @apply rounded-tr-lg rounded-bl-lg shadow appearance-none border w-full py-2 px-3 text-gray-700 leading-tight;
    }
    .dr-input:focus{
        @apply outline-none shadow-outline;
    }

    .dr-btn {
        @apply float-right bg-transparent font-semibold py-2 px-4 border rounded;
    }

    .dr-btn:hover {
        @apply text-white border-transparent;
    }

    $colors: 'red', 'blue';

    @each $color in $colors {
        .dr-btn-#{$color} {
            @apply dr-btn text-#{$color}-700 border-#{$color}-500;
        }
        .dr-btn-#{$color}:hover {
            @apply bg-#{$color}-500 text-white;
        }
    }
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}
